
<app-krpan-trailer-information *ngIf="trailer && !fromCrane" [trailer]="trailer" (craneSelected)="navigateToCrane($event)"></app-krpan-trailer-information>

<div *ngIf="!fromCrane && id" class="w-full h-full flex justify-center items-center mt-16">
    <button (click)="loadTrailerConfigurations(this.id!)" [disabled]="(krpanService.trailerSelected$ | async)" [ngClass]="{'disabled': (krpanService.trailerSelected$ | async)}" class="m-auto py-10 px-20 rounded-xl mb-2 bg-[--primary-color] active:bg-gray-700 text-base font-bold uppercase shadow hover:opacity-80 outline-none focus:outline-none">Kalkulálás</button>
</div>
<div *ngIf="(krpanService.trailerSelected$ | async) && !fromCrane" class="w-full h-full flex justify-center items-center mt-8 mb-2">
    <p>Tippek</p>
</div>
<div *ngIf="(krpanService.trailerSelected$ | async) && !fromCrane" class="w-full h-full flex justify-center items-center">
    <p-inputSwitch  [(ngModel)]="hintsChecked"></p-inputSwitch>
</div>
<div *ngIf="(krpanService.trailerSelected$ | async) && !fromCrane" class="mx-auto">
    <app-krpan-trailer-calculator-hints *ngIf="hintsChecked"></app-krpan-trailer-calculator-hints>
</div>
<div *ngIf="(krpanService.trailerSelected$ | async) && !fromCrane" class="mx-auto">
    <app-krpan-trailer-equipment *ngIf="hintsChecked" [trailer]="trailer"></app-krpan-trailer-equipment>
</div>

<form [formGroup]="trailerFormGroup">
    <ng-container *ngIf="(krpanService.trailerSelected$ | async)" class="bg-slate-200">
        <div #configElement class="flex align-middle justify-center my-10">
            <div class="w-11/12">

                <div *ngIf="trailerSelected && tyres"  class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Kerekek</span>
                    </div>
                    <p-listbox optionDisabled="disabledOption" (onChange)="handleTyreChange($event)" formControlName="selectedTyre" [options]="tyres" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && brakes.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Fék</span>
                    </div>
                    <p-listbox (onChange)="handleBrakeChange($event)" formControlName="selectedBrake" [options]="brakes" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && handBrake" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onHandBrakeChange($event)" [value]="handBrake" formControlName="selectedHandBrake" inputId="HandBrakeSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="HandBrakeSelected">{{handBrake.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && extraStanchion" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox #extraStanchionCheckBox (onChange)="onExtraStanchionChange($event)" [value]="extraStanchion" formControlName="selectedExtraStanchion" inputId="ExtraStanchionSelected"></p-checkbox>
                        <label class="hover:cursor-pointer pt-2" for="ExtraStanchionSelected">{{extraStanchion.namePrice}}</label>
                    </div>
                </div>
                <div *ngIf="trailerSelected && extraStanchion" class="justify-content-center">
                    <p-dropdown *ngIf="extraStanchionChecked" [disabled]="!extraStanchionChecked" #extraStanchionDropdown (onChange)="onExtraStanchionNumberChange($event)" [options]="extraStanchionArrayElements" optionLabel="number" placeholder="Válasszon egy számot..."></p-dropdown>
                </div>

                <div *ngIf="trailerSelected && extraForwarderStanchion" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox #extraForwarderStanchionCheckBox (onChange)="onExtraForwarderStanchionChange($event)" [value]="extraForwarderStanchion" formControlName="selectedExtraForwarderStanchion" inputId="ExtraForwarderStanchionSelected"></p-checkbox>
                        <label class="hover:cursor-pointer pt-2" for="ExtraForwarderStanchionSelected">{{extraForwarderStanchion.namePrice}}</label>
                    </div>
                </div>
                <div *ngIf="trailerSelected && extraForwarderStanchion" class="justify-content-center">
                    <p-dropdown *ngIf="extraForwarderStanchionChecked" [disabled]="!extraForwarderStanchionChecked" #extraForwarderStanchionDropdown (onChange)="onExtraForwarderStanchionNumberChange($event)" [options]="extraForwarderStanchionArrayElements" optionLabel="number" placeholder="Válasszon egy számot..."></p-dropdown>
                </div>

                <div *ngIf="trailerSelected && topConnection" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onTopConnectionChange($event)" [value]="topConnection" formControlName="selectedTopConnection" inputId="TopConnectionSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="TopConnectionSelected">{{topConnection.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && clucthes.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Tengelykapcsoló</span>
                    </div>
                    <p-listbox optionDisabled="disabledOption" (onChange)="handleClutchChange($event)" formControlName="selectedClutch" [options]="clucthes" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && drawHead" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onDrawHeadChange($event)" [value]="drawHead" formControlName="selectedDrawHead" inputId="DrawHeadSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="DrawHeadSelected">{{drawHead.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && drawbars.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Vonórúd</span>
                    </div>
                    <p-listbox optionDisabled="disabledOption" (onChange)="handleDrawbarChange($event)" formControlName="selectedDrawbar" [options]="drawbars" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && cardanShaft" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onCardanShaftChange($event)" [value]="cardanShaft" formControlName="selectedCardanShaft" inputId="CardanShaftSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="CardanShaftSelected">{{cardanShaft.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && bBox" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onBBoxChange($event)" [value]="bBox" formControlName="selectedBBox" inputId="BBoxSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="BBoxSelected">{{bBox.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && baleTransportPlatform" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onBaleTransportPlatformChange($event)" [value]="baleTransportPlatform" formControlName="selectedBaleTransportPlatform" inputId="BaleTransportPlatformSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="BaleTransportPlatformSelected">{{baleTransportPlatform.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && cargoSpaceExtension" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onCargoSpaceExtensionChange($event)" [value]="cargoSpaceExtension" formControlName="selectedCargoSpaceExtension" inputId="CargoSpaceExtensionSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="CargoSpaceExtensionSelected">{{cargoSpaceExtension.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && axeHolder" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onAxeHolderChange($event)" [value]="axeHolder" formControlName="selectedAxeHolder" inputId="AxeHolderSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="AxeHolderSelected">{{axeHolder.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && chainsawHolder" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onChainsawHolderChange($event)" [value]="chainsawHolder" formControlName="selectedChainsawHolder" inputId="ChainsawHolderSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="ChainsawHolderSelected">{{chainsawHolder.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && fuelTankHolder" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onFuelTankHolderChange($event)" [value]="fuelTankHolder" formControlName="selectedFuelTankHolder" inputId="FuelTankHolderSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="FuelTankHolderSelected">{{fuelTankHolder.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && toolBox" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onToolBoxChange($event)" [value]="toolBox" formControlName="selectedToolBox" inputId="ToolBoxSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="ToolBoxSelected">{{toolBox.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && plato" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onPlatoChange($event)" [value]="plato" formControlName="selectedPlato" inputId="PlatoSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="PlatoSelected">{{plato.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && extension" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onExtensionChange($event)" [value]="extension" formControlName="selectedExtension" inputId="ExtensionSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="ExtensionSelected">{{extension.namePrice}}</label>
                    </div>
                </div>

                <!-- TODO: DATA UNDER DISCUSSION -->
                <div *ngIf="trailerSelected && hydraulicSupportLeg" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onHydraulicSupportLegChange($event)" [value]="hydraulicSupportLeg" formControlName="selectedHydraulicSupportLeg" inputId="HydraulicSupportLegSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="HydraulicSupportLegSelected">{{hydraulicSupportLeg.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && grappleLocation" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <p-checkbox (onChange)="onGrappleLocationChange($event)" [value]="grappleLocation" formControlName="selectedGrappleLocation" inputId="GrappleLocationgSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="GrappleLocationSelected">{{grappleLocation.namePrice}}</label>
                    </div>
                </div>
                
                <div *ngIf="trailerSelected && trailerShipping" class="justify-content-center my-4 py-4">
                    <div class="flex">
                        <p-radioButton id="trailerShipping" [value]="trailerShipping" formControlName="selectedShipping"></p-radioButton>
                        <label [for]="trailerShipping.id" class="ml-2">{{ trailerShipping.namePrice }}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && MOT" class="justify-content-center my-4 py-4">
                    <div class="flex">
                        <p-radioButton id="MOT" [value]="MOT" formControlName="selectedMOT"></p-radioButton>
                        <label [for]="MOT.id" class="ml-2">{{ MOT.namePrice }}</label>
                    </div>
                </div>
                
                <hr *ngIf="trailer && !fromCrane" class="mb-2 mt-4 h-0.5 border-t-0 bg-black opacity-100 dark:opacity-50" />
            </div>
        </div>

        
        <app-krpan-crane-cards *ngIf="trailer && trailer.krpanCrane && trailerSelected && (krpanService.trailerSelected$ | async) && !fromCrane" [cranes]="trailer.krpanCrane" (buttonClickEmitter)="selectCrane($event)"></app-krpan-crane-cards>
    </ng-container>
</form>   


